<div class="col-xs-12">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="prodId">Id</label>
            <span id="prodId">{{::vm.category.id}}</span>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                   ng-model="vm.category.name">
        </div>
        <div class="form-group">
            <label for="price">Code</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="Price"
                   ng-model="vm.category.code">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control"
                              placeholder="Description"
                              ng-model="vm.category.description"></textarea>
        </div>
        <div class="form-group">
            <div class="inline pull-right">
                <button type="submit" class="btn btn-success" ng-click="vm.onSave()">Save</button>
                <button type="submit" class="btn btn-default" ng-click="vm.onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
