/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.border-r-2 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*BEGIN _common.less*/
body {
    font-family: "MyriadProSemiBold", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.4;
}

/*END _common.less*/
/*BEGIN _layouts.less*/
.l {
    width: 1260px;
    margin: 0 auto;
}

.l:before,
.l:after {
    content: " ";
    display: table;
}

.l:after {
    clear: both;
}

.l .l-col1 {
    float: left;
    width: 20%;
}

.l .l-col2 {
    float: right;
    width: 70%;
}

/*END _layouts.less*/
.input-gr {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border-collapse: separate;
}

.input-gr:before,
.input-gr:after {
    content: " ";
    display: table;
}

.input-gr:after {
    clear: both;
}

.input-gr__control {
    display: table-cell;
    height: 22px;
    padding: 6px 12px;
    float: left;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input-gr .input-gr__control {
    position: relative;
    z-index: 2;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
}

.input-gr > .input-gr__control:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-gr__button-wrapper {
    display: table-cell;
    position: relative;
    font-size: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

.input-gr__button-wrapper > .input-gr__button {
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-gr__button-wrapper:last-child > .input-gr__button {
    margin-left: -1px;
}

.input-gr__button:focus {
    z-index: 20;
}

.input-gr__button {
    display: inline-block;
    padding: 9px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: "MyriadProRegular", sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #505050;
}

.input-gr__button_orange {
    color: #fff;
    border-color: #ccc;
    background: #fa8b5b;
    background: -moz-linear-gradient(top, #fa8b5b 0%, #eb6225 100%);
    background: -webkit-linear-gradient(top, #fa8b5b 0%, #eb6225 100%);
    background: linear-gradient(to bottom, #fa8b5b 0%, #eb6225 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa8b5b', endColorstr='#eb6225', GradientType=0);
}

.input-gr_block {
    display: block;
    border-radius: 3px;
}

.drop-down-gr {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: 1.42857143;
}

.drop-down-gr:before,
.drop-down-gr:after {
    content: " ";
    display: table;
}

.drop-down-gr:after {
    clear: both;
}

.drop-down-gr > .drop-down-gr__button:first-child {
    margin-left: 0;
}

.drop-down-gr > .drop-down-gr__button:focus,
.drop-down-gr > .drop-down-gr__button:hover {
    z-index: 2;
}

.drop-down-gr > .drop-down-gr__button {
    position: relative;
    float: left;
}

.drop-down-gr > .drop-down-gr__button:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.drop-down-gr > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.drop-down-gr .drop-down-gr__button + .drop-down-gr__button {
    margin-left: -1px;
}

.drop-down-gr__button {
    display: inline-block;
    padding: 9px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: "MyriadProRegular", sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #505050;
}

.drop-down-gr__button_def {
    border: 1px solid #c9c9c9;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #e7e7e7 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%, #e7e7e7 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #e7e7e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e7e7e7', GradientType=0);
}

.drop-down-gr__button_def > img {
    height: 12px;
}

.drop-down-gr__button_orange {
    border: 1px solid #c9c9c9;
    background: #fa8b5b;
    background: -moz-linear-gradient(top, #fa8b5b 0%, #eb6225 100%);
    background: -webkit-linear-gradient(top, #fa8b5b 0%, #eb6225 100%);
    background: linear-gradient(to bottom, #fa8b5b 0%, #eb6225 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa8b5b', endColorstr='#eb6225', GradientType=0);
}

.drop-down-gr__button_sm {
    padding: 6px 8px;
}

.drop-down-gr__button_smh {
    padding: 6px 9px;
}

.drop-down-gr__arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.drop-down-gr_open > .drop-down-gr__menu {
    display: block;
}

.drop-down-gr_open > .dropdown-toggle.drop-down-gr__button_def {
    color: #333;
    background: #dedede;
    border-color: #adadad;
}

.drop-down-gr__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #f7f7f7;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.drop-down-gr__menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    font-family: "MyriadProRegular", sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.drop-down-gr__menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #e0e0e0;
}

/* BEGIN _main.less*/
.topline {
    border-bottom: 1px solid #eaeaea;
}

.topline a {
    text-decoration: none;
}

.topline__in {
    width: 1260px;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    font-size: 11px;
}

.topline__visitor {
    margin-left: 10px;
    display: inline-block;
}

.topline__greeting {
    display: inline-block;
    color: #898989;
}

.topline__login {
    display: inline-block;
    color: #f16325;
}

.topline__create-account {
    display: inline-block;
    color: #f16325;
}

.topline__menu {
    float: right;
    margin-right: 10px;
    display: inline-block;
    color: #777777;
}

.topline__account {
    display: inline-block;
    color: #777777;
}

.topline__wishlist {
    display: inline-block;
    color: #777777;
}

.topline__shoping-cart {
    display: inline-block;
    color: #777777;
}

.topline__checkout {
    display: inline-block;
    color: #777777;
}

.header {
    height: 137px;
}

.header__in {
    width: 1260px;
    margin: 0 auto;
    height: inherit;
    background-image: url('../img/map-bg.png');
    background-repeat: no-repeat;
    background-position: 71px 0;
}

.header__in:before,
.header__in:after {
    content: " ";
    display: table;
}

.header__in:after {
    clear: both;
}

.header__logo {
    float: left;
    margin-top: 34px;
}

.header__logo-top {
    font-size: 30px;
}

.header__logo-bottom {
    color: #999999;
}

.header__logo_orange {
    color: #f16325;
}

.header__choice {
    float: right;
    margin-top: 30px;
}

.header__currency {
    display: inline-block;
    margin-right: 10px;
}

.header__lang {
    display: inline-block;
    margin-right: 10px;
}

.header__cart {
    display: inline-block;
}

.header__search {
    display: inline-block;
}

.nav__in {
    width: 1260px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
}

.nav__item {
    width: 50%;
    display: inline-block;
    /*border-right: 1px solid #c5c5c5;*/
    /*background-color: #e7e7e7;*/
    margin-left: -2px;
    margin-right: -2px;
}

.nav__list:first-child {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right: 1px solid #c5c5c5;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    background-color: #e7e7e7;
}

.nav__list:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    background-color: #e7e7e7;
}

.nav__item a {
    display: block;
    /*padding-left: 25px;*/
    /*padding-right: 25px;*/
    text-align: center;
    text-decoration: none;
    color: #505050;
}

.splitter {
    display: inline-block;
    margin-left: 36px;
    width: 116px;
}

.l {
    padding-top: 56px;
}

.categories__header {
    color: #444444;
    margin-bottom: 27px;
    width: 220px;
}

.categories__link {
    text-decoration: none;
}

.categories__link_active {
    color: #f16325;
}

.categories__link-inner {
    color: #777777;
}

.categories__link-header {
    /*color: #5c5c5c;*/
    color: #1990ba;
}

.categories__nav-header {
    margin-top: 5px;
    margin-bottom: 5px;
}

.categories__nav-inner-list {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    width: 189px;
    background-color: #f0f0f0;
    border: 1px solid #e7e7e7;
}

.categories__nav-inner-item {
    margin-bottom: 15px;
    line-height: 16px;
}

.categories__nav-inner-item::before {
    content: '';
    margin-bottom: 2px;
    margin-right: 9px;
    height: 5px;
    width: 5px;
    background-image: url('../img/category-shape.png');
    display: inline-block;
}

.categories__nav-outer-item::after {
    content: '';
    height: 1px;
    width: 216px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url('../img/separator-cat-long.png');
    display: block;
}

.categories__nav-outer-item:last-child:after {
    content: '';
    display: none;
}

.categories__nav-outer-item_active {
    margin-bottom: 10px;
}

.shop-price {
    margin-top: 60px;
    display: none;
}

.shop-color {
    display: none;
}

.specials {
    display: none;
}

.entry__pic {
    height: 280px;
    width: 700px;
    border: 1px solid #ececec;
}

.entry__title {
    margin-bottom: 8px;
    color: #7a7a7a;
}

.entry__text {
    line-height: 17px;
    color: #777777;
}

.entry__content {
    margin-top: 47px;
}

.entry__content:before,
.entry__content:after {
    content: " ";
    display: table;
}

.entry__content:after {
    clear: both;
}

.entry__content-r {
    float: right;
    position: relative;
    padding-left: 16px;
}

.entry__content-r::before {
    content: '';
    float: left;
    width: 5px;
    background-color: #dfdfdf;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-search {
    margin-top: 45px;
}

.entry-search__title {
    color: #444444;
    margin-bottom: 7px;
}

.entry-search__nav {
    margin-top: 25px;
}

.entry-search__filter {
    margin-top: 50px;
    height: 48px;
    line-height: 48px;
    background-color: #f0f0f0;
    padding-left: 9px;
    padding-right: 9px;
    color: #777777;
    border-bottom: 2px dotted #b5b5b5;
    border-top: 2px dotted #b5b5b5;
}

.entry-search__sort {
    display: inline-block;
}

.entry-search__sort:before,
.entry-search__sort:after {
    content: " ";
    display: table;
}

.entry-search__sort:after {
    clear: both;
}

.entry-search__show {
    display: inline-block;
}

.entry-search__show:before,
.entry-search__show:after {
    content: " ";
    display: table;
}

.entry-search__show:after {
    clear: both;
}

.entry-search__compare {
    display: inline-block;
}

.entry-search__display {
    float: right;
}

.entry-search__display:before,
.entry-search__display:after {
    content: " ";
    display: table;
}

.entry-search__display:after {
    clear: both;
}

.nav-list__item {
    display: inline-block;
    border-left: 1px solid #c5c5c5;
}

.nav-list__item:first-child {
    border-left: none;
}

.nav-list__link {
    display: block;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
    color: #777777;
}

.entry-content:before,
.entry-content:after {
    content: " ";
    display: table;
}

.entry-content:after {
    clear: both;
}

.entry-content__item {
    padding-bottom: 10px;
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.entry-content__thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.entry-content__img {
    height: 190px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 0;
    vertical-align: middle;
}

.entry-content__text {
    color: #777777;
}

.entry-content__price:before,
.entry-content__price:after {
    content: " ";
    display: table;
}

.entry-content__price:after {
    clear: both;
}

.entry-content__price > i {
    font-size: 18px;
    color: #555555;
    display: block;
    float: left;
}

.entry-content__price > span {
    display: inline-block;
    margin-right: 2px;
    float: right;
    position: relative;
    height: 18px;
    width: 59%;
    border-bottom: 2px dotted #b5b5b5;
}

.entry-content__stars {
    display: inline-block;
}

.entry-content__wrapper {
    border-bottom: 2px dotted #b5b5b5;
}

.entry-content__wrapper:before,
.entry-content__wrapper:after {
    content: " ";
    display: table;
}

.entry-content__wrapper:after {
    clear: both;
}

.entry-content__pagination {
    float: right;
    margin-top: 20px;
}

.pagination__title {
    display: inline-block;
    vertical-align: middle;
}

.pagination__list {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination__list > li {
    display: inline;
}

.pagination__list > li:first-child > a,
.pagination__list > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination__list > li:last-child > a,
.pagination__list > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination__list > .active > a,
.pagination__list > .active > a:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination__list > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #f16325;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination__list > li > a:hover {
    z-index: 2;
    color: #878787;
    background-color: #eee;
    border-color: #ddd;
}

.footer {
    background-color: #e7e7e7;
    border-top: 2px dotted #b5b5b5;
}

.footer__in {
    width: 1260px;
    margin: 0 auto;
}

.footer__in:before,
.footer__in:after {
    content: " ";
    display: table;
}

.footer__in:after {
    clear: both;
}

.footer__col-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.footer__col {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.footer__col-links > li > a {
    text-decoration: none;
    color: #777777;
}

.footer__newlatter > input {
    display: block;
}

.footer__contact-list > li > a {
    text-decoration: none;
    color: #777777;
}

.bottomline__in {
    width: 1260px;
    margin: 0 auto;
}

/* END _main.less*/
