.custom-height {
  height: 50px; }

.none-border-left {
  border-left: 0;
  padding-left: 20px; }

.none-border-right {
  border-right: 0;
  padding-right: 20px; }

.task-entry-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px; }

.task-entry-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  border-right: 0px;
  outline: none;
  height: 50px;
  border-radius: 0px; }

.task-entry-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  border-left: 0px;
  background-color: transparent; }

.task-entry-status {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
  height: 50px;
  border-radius: 0px; }

.task-timer {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto; }
