<div class="panel panel-default">
    <div class="panel-body" ng-form name="categoriesForm">
        <input data-ng-show="false" name="categories" ng-model="vm.categoriesIds" handle-array-change required>
        <div>
            <div id="categories" class="panel panel-default required standard-margin-bottom groups-table required"
                 ng-class="{'has-error':categoriesForm.categories.$invalid && categoriesForm.categories.$dirty}">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width:50px"></th>
                        <th class="control-label text-left">Selected Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.categories">
                        <td>
                            <button type="button" class="btn btn-xs btn-danger" ng-click="vm.removeCategory(item)" title="Remove"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                        <td class="table-overflow break-word">{{item.name}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="error-block" ng-show="categoriesForm.categories.$invalid && categoriesForm.categories.$dirty">
                    <span ng-show="categoriesForm.categories.$error.required">Product must be assigned to at least one category.</span>
                </div>
            </div>

        </div>

        <!--Search panel-->
        <div class="row standard-margin-bottom">
            <label for="categoryKeywordSearch" class="col-xs-12">Add More Categories</label>

            <div class="col-xs-12">
                <div class="input-group">
                    <input type="search" class="form-control" id="categoryKeywordSearch" placeholder="Search by any part of category name"
                           ng-model="vm.query" ng-disabled="vm.searching">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" title="Search"
                      ng-click="vm.search($event)" data-ng-disabled="vm.searching"><span class="glyphicon glyphicon-search"></span></button>
            </span>
                </div>
            </div>
        </div>
        <div class="alert alert-sm alert-info" ng-show="vm.itemCount == 0">No categories were found.</div>

        <!--Search Result-->
        <div ng-show="vm.itemCount">
            <div class="panel panel-default standard-margin-bottom">
                <table class="table standard-margin-bottom">
                    <tbody>
                    <tr ng-repeat="category in vm.items">
                        <td style="width:50px">
                            <button ng-show="!vm.isCategoryAdded(category.id)"
                                    type="button" class="btn btn-success btn-xs"
                                    ng-click="vm.addCategory(category)" title="Add">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <span ng-show="vm.isCategoryAdded(category.id)" class="text-primary glyphicon glyphicon-link" title="Added"></span>
                        </td>
                        <td class="table-overflow break-word">
                            <span>{{::category.name}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center" data-ng-disabled="vm.searching">
                <!--<uib-pagination total-items="vm.itemCount" items-per-page="10" ng-model="vm.currentPage" ng-show="vm.itemCount > 10"-->
                                <!--max-size="10" ng-change="vm.pageChanged()" class="pagination-sm"-->
                                <!--previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"-->
                                <!--boundary-links="true" rotate="true">-->
                <!--</uib-pagination>-->
            </div>
        </div>
    </div>
</div>
