<div>

    <form name="vm.addTaskForm">

        <div class="input-group">
            <input type="text"
                   class="form-control custom-height none-border-right"
                   id="taskDescription" name="taskDescription"
                   ng-model="vm.task.description"
                   placeholder="Description"
                   aria-describedby="Description">
            <div class="input-group-btn">
                <button class="btn btn-default custom-height none-border-right none-border-left">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button" class="btn btn-default custom-height none-border-left" ng-click="vm.add()">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
            </div>
        </div>
    </form>
</div>
