<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" ng-class="{'active':vm.currentTab==='mainProductsForm'}"
                    ng-click="vm.currentTab='mainProductsForm'">
                    <a href="">Products</a></li>
                <li role="presentation" ng-class="{'active':vm.currentTab==='mainCategoriesForm'}"
                    ng-click="vm.currentTab='mainCategoriesForm'">
                    <a href="">Categories</a></li>
                <li role="presentation" ng-class="{'active':vm.currentTab==='mainBrandsForm'}"
                    ng-click="vm.currentTab='mainBrandsForm'">
                    <a href="">Brands</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Admin Panel</h3>
    </div>

    <fieldset ng-class="{'visible-xs-block':vm.currentTab!='mainProductsForm'}">
        <legend>Products</legend>
        <div ng-form name="vm.mainProductsForm">
            <admin-product></admin-product>
        </div>
    </fieldset>

    <fieldset ng-class="{'visible-xs-block':vm.currentTab!='mainCategoriesForm'}">
        <legend>Categories</legend>
        <div ng-form name="vm.mainCategoriesForm">
            <admin-category></admin-category>
        </div>
    </fieldset>

    <fieldset ng-class="{'visible-xs-block':vm.currentTab!='mainBrandsForm'}">
        <legend>Brands</legend>
        <div ng-form name="vm.mainBrandsForm">
            <span>Brands</span>
        </div>
    </fieldset>
</div>

