<file-select on-file-select="vm.onSelect($files)" ng-disabled="vm.file.isUploading">
  <ng-transclude></ng-transclude>
  <span class="small-loading" ng-if="vm.file.isUploading"></span>
</file-select>
<!--<button class="btn btn-link"-->
        <!--ng-if="vm.options.mode === 'AUTO'"-->
        <!--ng-click="vm.onDownload()"><span class="glyphicon glyphicon-download"></span> {{vm.options.text}}</button>-->
<span ng-repeat="image in vm.images">
    <button type="button"
            class="btn btn-link"
            title="Remove"
            ng-click="vm.onDelete(image.id)">
        {{::image.name}} <span class="glyphicon glyphicon-remove-circle"></span>
    </button>
</span>
